body {
    background-image: url(https://img.wallpapersafari.com/desktop/1680/1050/21/10/gowQNX.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


body {
    background-color: black;
    color: #EB0101;
    
}

th {
    color: #EB0101;

}

td {

    color: #EB0101;
    border-color: #EB0101;
    border-style: solid;
    text-align: center;
}

tr {
    color: #EB0101;

}

p {
    text-align: center;
}

table {

    background-color: black;
    width: 80%;
    border-color: #EB0101;
    border-top: 10px;
    border-style: solid;
    border-collapse: collapse;
}

h1 {
    text-align: center;
    color: white;
}

header {
    background-image: url(https://img.wallpapersafari.com/desktop/1680/1050/21/10/gowQNX.jpg);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


footer {
    text-align: center;
 background-image: url(https://img.wallpapersafari.com/desktop/1680/1050/21/10/gowQNX.jpg);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}